<!DOCTYPE html>
<html lang="en">
<head>
    <title>DJANGO</title>
</head>
<body>
    <!-- <b>this to trella {{name}} </b> -->
    {% block content %}
     <form action="product" autocomplete="off">
        <h1>product</h1>
        mobile<input type="text" name="mobile" autocomplete="off"><br><br>
        keyboard<input type="text" name="keyboard" autocomplete="off"><br><br>
        monitor<input type="text" name="monitor" autocomplete="off"><br><br>
        <input type="submit" value="submit">

    </form>
    {%endblock%}
</body>
</html>